*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
h1{
    color: white;
    text-align: center;
    margin-top: 20px;
}
p{
    color: white;
    text-align: center;
    margin: 1rem 0;
}
.form{
    text-align: center;
}
.form input{
    padding: 10px 20px;
    outline: none;
    border-radius: 5px;
    margin-bottom: 1rem ;
}
.form button{
    padding: 14px 60px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 14px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}