body {
    margin: 0;
    background: #171618;
    height: 100vh;
    display: grid;
    place-items: center;
  }
  
  .signInForm{
    height: 600px;
    width: 25%;
    position: relative;
    padding: 30px 60px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);
    color: #999;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font: 700 30px consolas;
    overflow: hidden;
  }
  
  .signInForm span:nth-child(1) {
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: -2px 0px 20px 1px #00D8D8;
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, #171618, #00D8D8);
    animation: animate1 4s linear infinite;
  }
  
  @keyframes animate1 {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  .signInForm span:nth-child(2) {
    position: absolute;
    top: 0;
    box-shadow: -2px 0px 20px 1px #00D8D8;
    right: 0;
    height: 100%;
    width: 4px;
    background: linear-gradient(to bottom, #171618, #00D8D8);
    animation: animate2 4s linear infinite;
    animation-delay: 2s;
  }
  @keyframes animate2 {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(100%);
    }
  }
  
  .signInForm span:nth-child(3) {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    box-shadow: -2px 0px 20px 1px #00D8D8;
    height: 4px;
    background: linear-gradient(to left, #171618, #00D8D8);
    animation: animate3 4s linear infinite;
  }
  
  @keyframes animate3 {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  .signInForm span:nth-child(4) {
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: -2px 0px 20px 1px #00D8D8;
    height: 100%;
    width: 4px;
    background: linear-gradient(to top, #171618, #00D8D8);
    animation: animate4 4s linear infinite;
    animation-delay: 2s;
  }
  
  @keyframes animate4 {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(-100%);
    }
  }
.signInForm h3{
    margin-top: -8px;
    text-align: center;
    color: #00D8D8;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.signInForm span{
    color: #00D8D8;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 20px;
}
.signInForm input{
    outline: none;
    padding: 10px 70px;
    margin-bottom: 40px;
    margin-top: 10px;
    font-size: 20px;
    text-align: left;
    padding-left:15px;
    overflow: auto;
}
.signInForm button{
    padding: 14px 55px;
    margin-top: 50px;
    border: none;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 15px;
    transition: .5s;
    font-weight: 00;
    font-size: 20px;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #00D8D8;
}
.signInForm button:hover{
    box-shadow: 0px 0px 20px 5px #00d8d8;
}
.signInForm h6{
  opacity: 0;
  font-size: 15px;
  margin-top: -30px;
  margin-bottom:-10px ;
  color: red;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 100;
}