*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}
header{
    padding: 1rem 0;
    background-color: aqua;
}
a{
    text-decoration: none;
}
.header-all{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.header-all .logo{
    width: 20% ;
}
.header-all .logo img{
    width: 100%;
    cursor: pointer;
}
.header-all nav a{
    margin-left: 25px;
    color: black;
    font-weight: 600;
    font-size: 20px;
    transition: .5s;
}
.header-all #mobile{
    position: relative;
}
.header-all #mobile i{
    cursor: pointer;
    font-size: 30px;
    padding-right:20px ;
}
.header-all #mobile i:nth-child(2){
    position: absolute;
    top: -15px;
    right: 0px;
}
.header-all nav a:hover{
    color: white;
}
.box{
    border-radius: 15px;
    background-color: rgba(0, 255, 255);
    position: absolute;
    right: 16px;
    top: 77px;
    text-align: left;
    height: 170px;
}
.box a{
    font-size: 10px;
    font-weight: 200;
}
#picture{
    width: 20%;
}
footer{
    background-color: #101727;
}
.footer h3{
    text-align: left;
    color: #fff;
    padding: 3rem 0;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer i{
    font-size: 45px;
    color: #fff;
    transition: .5s;
    margin-left: 20px;
    border-radius: 50%;
    cursor: pointer;
}
.footer i:hover{
    transform: rotate(360deg);
    box-shadow: 0px 0px 14px 4px;
}
.info{
    display: flex;
    justify-content: space-around;
}
.info h4{
    padding-bottom: 50px;
}
@media (max-width: 576px){
    .header-all .desktop{
        display: none ;
    }
    .header-all #mobile{
        display: block ;
    }
    .header-all .logo{
        width: 35%;
    }
    .footer i{
        font-size: 20px;
        margin-left: 8px;
        
    }
    .footer .copyright h3{
        font-size: 15px;
        margin-left: 20px;
    }
}
@media (min-width:576px) {
    .header-all .desktop{
        display: block ;
    }
    .header-all #mobile{
        display: none ;
    }
}
.introduction-all img{
    padding: 1rem 0;
    position: relative;
    right: 0
;}